.link {
  color: var(--c-primary);
  font-family: var(--font-primary-o-1);
  font-weight: 700;
  font-size: var(--font-18);
  opacity: 0.6;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.15s ease;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.menu__link {
  opacity: 1;
  font-size: 21px;
}

.menu__contact-link {
  font-size: 21px;
}

.menu {
  width: fit-content;
  height: fit-content;
}

.menu__toggler {
  position: relative;
  z-index: 2;
  background: transparent;
  width: 45px;
  height: 14px;

  &::before,
  &::after {
    background: var(--c-primary);
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    transition: rotate 0.3s ease, top 0.3s ease, bottom 0.3s ease;
  }

  &::after {
    content: "";
    bottom: 0;
  }

  &::before {
    content: "";
    top: 0;
  }

  span {
    display: inline-block;
    height: 2px;
    background: var(--c-primary);
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0;
    transition: transform 0.15s ease;
  }
}

.menu__body {
  border-top: 1px solid var(--c-primary);
  top: 90px;
  height: calc(100vh - 120px);
  transform: translateX(-100vw);
  background-color: var(--c-additionally);
  transition: transform 0.3s ease;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.menu__navigation {
  padding-top: 30px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu__socials {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
}

.menu--active {
  .menu__body {
    transform: translateX(0);
  }

  .menu__toggler {
    span {
      top: 8px;
      rotate: -45deg;
      opacity: 0;
    }

    &::before {
      rotate: -45deg;
      top: 2px;
      height: 4px;
    }

    &::after {
      rotate: 45deg;
      bottom: 8px;
      height: 4px;
    }
  }
}

.section__badge {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: lowercase;
  text-align: justify;
  color: var(--c-additionally);
  opacity: 0.5;
  font-size: var(--font-16);
  position: absolute;
  top: 0;
  left: 0;
}

.section__badge--light {
  color: var(--c-primary);
}

.section__pixel-border-top {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    top: calc(var(--height-pixel-border) * -1);
    height: var(--height-pixel-border);
    z-index: 3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section__pixel-border-bottom {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    bottom: calc(var(--height-pixel-border) * -1);
    height: var(--height-pixel-border);
    z-index: 3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.to-top {
  background-color: var(--c-accent);
  transition: background-color 0.15s ease;
  color: var(--c-primary);
  font-size: var(--font-18);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-primary);

  &:hover {
    background-color: var(--c-primary);
    color: var(--c-accent);
  }
}

.to-top__arrow {
  width: max(20px, 1.389vw);
}

.input {
  .input__body {
    display: block;
    width: 100%;
    background-color: transparent;
    margin-bottom: max(10px, 0.694vw);
    font-family: var(--font-primary-o-1);
    font-size: var(--font-18);
  }

  .input__underline {
    height: 1px;
    opacity: 0.5;
    background-color: var(--c-additionally);
  }
}


.play-button{
  width: fit-content;
  height: fit-content;
  padding: 0;
  background-color: transparent;

  svg {
    width: max(60px, 4.167vw);
    aspect-ratio: 1/1;
    cursor: pointer;
    opacity: 0.2;
    transition: fill 0.15s ease, opacity 0.15s ease, filter 0.15s ease;
  }

  &:hover {
    svg {
      fill: var(--c-accent);
      opacity: 1;
      filter: drop-shadow(4px 4px 0 black);
    }
  }

  &:active {
    svg {
      fill: var(--c-additionally);
    }
  }
}
