@media (max-width: 1279px) {
}

@media (max-width: 768px) {
  :root {
    --container-padding: 10px;
    --font-154: clamp(40px, 15.6vw, 100px);
    --heading-margin-md: 0px;
  }

  .about__img {
    margin-top: 10vmin;
  }

  .about__heading {
    text-align: unset;
  }

  .header {
    display: block;
  }

  .hero-section__heading {
    .hero-section__heading {
      line-height: 90%;
    }

    span {
      margin-left: 0 !important;
      margin-right: 0 !important;
      text-align: start !important;
    }
  }

  .hero-section__navigation {
    display: none;
  }

  .intro__video {
    &::after,
    &::before {
      display: none;
    }
  }

  .intro__inner,
  .escape__inner,
  .university__inner {
    padding-top: 24px;
  }

  .intro__arrow {
    color: var(--c-primary);
  }
}

@media (max-width: 440px) {
  .hero-section__button {
    width: 100%;
  }

  .intro__video {
    height: calc(100vw - 20px);
  }

  .hero-section {
    padding-top: 120px;
  }

  .hero-section__inner {
    background-size: 700px;
  }

  .escape__web {
    width: 300vw;
    top: 55%;
    left: 85%;
  }
}
