@media (max-width: 1151px) {
  .header {
    display: block;
  }

  .hero-section {
    background-size: clamp(700px, 140%, 1530px) auto;
  }

  .hero-section__heading {
    --font-154: 14.6vw;

    span {
      margin-left: 0 !important;
      margin-right: 0 !important;
      text-align: start !important;
    }
  }

  .hero-section__inner {
  }

  .hero-section__navigation {
    display: none;
  }
}

@media (max-width: 768px) {
  :root {
    --container-padding: 10px;
  }

  .about__img {
    margin-top: 10vmin;
  }

  .hero-section__heading {
    line-height: 90%;
  }

  .hero-section {
    height: clamp(80vh, 63vw, 3000px);
  }

  .about__heading {
    text-align: unset;
  }
}

@media (max-width: 440px) {
  .hero-section__button {
    width: 100%;
  }
}
