@media (max-width: 1279px) {
  .hero-section {
    background-size: cover;
  }
}

@media (max-width: 768px) {
  :root {
    --container-padding: 10px;
    --font-154: clamp(50px, 15.6vw, 100px);
  }

  .about__img {
    margin-top: 10vmin;
  }

  .about__heading {
    text-align: unset;
  }

  .header {
    display: block;
  }

  .hero-section__heading {
    .hero-section__heading {
      line-height: 90%;
    }

    span {
      margin-left: 0 !important;
      margin-right: 0 !important;
      text-align: start !important;
    }
  }

  .hero-section__navigation {
    display: none;
  }
}

@media (max-width: 440px) {
  .hero-section__button {
    width: 100%;
  }
}
