html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  overflow: hidden scroll;
  background-color: var(--c-additionally);
  color: var(--c-primary);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.no-scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 40px;
  z-index: 5;
  width: 100%;
  display: none;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
}

.hero-section {
  height: clamp(700px, 63vw, 3000px);
  position: relative;

  &::after {
    background-image: url("../assets/images/heroSection/pixelFooter.png");
    bottom: calc(var(--centered-pixel-border) - 1px);
  }
}

.hero-section__inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("../assets/images/heroSection/lomonosov.png");
  background-repeat: no-repeat;
  background-size: clamp(1000px, 96vw, 3000px);
}

.hero-section__heading {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-154);
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--c-primary);
  position: absolute;
  bottom: clamp(150px, 17vw, 700px);
  left: 0;
  line-height: 84%;
  width: 100%;

  span {
    display: block;

    span {
      display: inline;
      margin: 0;
    }

    &:nth-child(1) {
      margin-left: 13.5vw;
    }

    &:nth-child(3) {
      margin-right: 8.8vw;
      text-align: end;
    }
  }
}

.hero-section__navigation {
  position: absolute;
  right: 2vw;
  bottom: clamp(230px, 27vw, 1200px);
  z-index: 2;
}

.hero-section__links {
  display: flex;
  flex-direction: column;
  gap: 0.108vw;
}

.hero-section__button {
  position: absolute;
  bottom: clamp(70px, 11vw, 300px);
  width: clamp(210px, 39vw, 3200px);
  left: 50%;
  translate: -50% 0;
}

.about {
  background: var(--c-primary);
  position: relative;
  z-index: 2;
  padding-top: 20vmin;
}

.about__img {
  width: 100%;
  margin-top: -10vmin;
}

.about__heading {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-70);
  line-height: 95%;
  text-transform: uppercase;
  color: #0e0e0e;
  word-spacing: 0.9vw;
  text-align: justify;
}

.intro {
  padding-top: 60px;
  background-color: var(--c-primary);
  margin-top: -3px;
  overflow: hidden;
  padding-bottom: clamp(60px, 6.25vw, 180px);
  color: var(--c-additionally);
}

.intro__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.intro__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(40px, 2.8vmin, 160px);
}

.intro__heading {
  width: 100%;
  span {
    display: block;
    font-size: var(--font-82);
    font-weight: 700;
    font-family: var(--font-primary);
    text-transform: uppercase;

    &:nth-child(1) {
      white-space: nowrap;
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.intro__text {
  margin-top: clamp(12px, 2.5vw, 48px);
  font-size: var(--font-18);
  font-weight: 400;
  font-family: var(--font-additionally);
  line-height: 100%;
  width: 38vw;
  margin-left: var(--heading-margin-lg);
  text-align: center;
}

.intro__video {
  height: clamp(355px, 29.792vw, 100vw);
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url(../assets/images/intro/bracket.svg);
    width: 20vw;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    scale: -1;
  }

  &:hover {
    .intro__tape span {
      color: var(--c-accent);
    }

    .intro__img--1 {
      opacity: 1;
    }

    .intro__img--2 {
      opacity: 0;
    }

    .intro__arrow {
      color: var(--c-accent);
    }
  }
}

.intro__tape {
  position: absolute;
  top: 54%;
  width: 100%;
  left: 50%;
  translate: -50% -10%;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: clamp(72px, 3.49vw, 72px);

  span {
    font-size: var(--font-18);
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-weight: 700;
    flex-shrink: 0;
    transition: color 0.3s ease;

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      color: var(--c-primary);
    }
  }
}

.intro__arrow {
  width: 60px;
  height: 60px;
  transition: color 0.3s ease;
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% 0;

  &:active {
    color: var(--c-primary) !important;
  }
}

.intro__img {
  aspect-ratio: 1 /1;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.intro__img--1 {
  opacity: 0;
}

.escape {
  padding-top: 60px;
  background-color: var(--c-primary);
  margin-top: -3px;
  overflow: hidden;
  padding-bottom: clamp(60px, 6.25vw, 180px);
  color: var(--c-additionally);

  --margin-left: 28vw;
}

.escape__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.escape__group {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 2.4vw, 60px);
}

.escape__heading {
  width: 100%;
  font-size: var(--font-82);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;

  span {
    display: block;

    &:nth-child(1) {
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.escape__subheading {
  display: block;
  font-size: var(--font-54);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  margin-left: var(--heading-margin-md);
  width: 80vw;
}

.escape__text {
  font-size: var(--font-18);
  font-weight: 400;
  font-family: var(--font-additionally);
  line-height: 100%;
  margin-left: var(--heading-margin-lg);
  width: clamp(200px, 22vw, 1900px);
  margin-bottom: clamp(32px, 1.667vw, 96px);
}

.escape__img {
  width: clamp(207px, 18.75vw, 2200px);
  position: relative;
  z-index: 2;
  margin-left: var(--heading-margin-lg);
}

.escape__img-wrapper {
  display: flex;
  position: relative;
}

.escape__web {
  width: 110vw;
  position: absolute;
  top: 52%;
  left: 50%;
  translate: -50% -50%;
  pointer-events: none;
}

.university {
  background: url("../assets/images/university/bg.png"), var(--c-additionally);
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: clamp(50px, 10.5vw, 400px);
  padding-bottom: clamp(50px, 10.5vw, 400px);
  &::before {
    background-image: url("../assets/images/university/pixelsTop.png");
  }
  &::after {
    background-image: url("../assets/images/university/pixelsBottom.png");
  }
}

.university__inner {
  position: relative;
}

.university__heading {
  width: 100%;
  font-size: var(--font-54);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
  margin-bottom: clamp(16px, 5.972vw, 160px);

  span {
    display: block;

    &:nth-child(1) {
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.university__paragraph {
  font-size: var(--font-18);
  color: var(--c-primary);
  font-family: var(--font-additionally);
  font-weight: 100;
  margin-left: var(--heading-margin-lg);
  margin-bottom: clamp(20px, 2.083vw, 200px);
  width: clamp(217px, 27.986vw, 2170px);
  display: inline-block;
}

.game {
  background-color: var(--c-primary);
  padding-top: clamp(191px, 16.667vw, 1910px);
  padding-bottom: clamp(191px, 16.667vw, 1910px);
  position: relative;
  --window-height: clamp(550px, 53.75vw, 3750px);
  --window-margin: clamp(0px, 0.694vw, 100px);
  padding-right: calc(var(--window-margin) * 2);
  padding-left: calc(var(--window-margin) * 2);

  &::after {
    background-image: url("../assets/images/game/pixels-bottom.png");
    bottom: 0;
  }
}

.game__content {
  position: relative;
  height: calc(var(--window-height) + (var(--window-margin) * 4));

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: var(--window-height);
    border: 0.139vw solid var(--c-additionally);
    opacity: 0.5;
  }

  &::before {
    left: 0;
    width: 100%;
    top: calc(var(--window-margin) * 2);
  }

  &::after {
    width: calc(100% - (var(--window-margin) * 2));
    left: calc(var(--window-margin));
    top: var(--window-margin);
  }
}

.game__window {
  background-color: var(--c-additionally);
  z-index: 3;
  width: calc(100% - (var(--window-margin) * 4));
  left: calc(var(--window-margin) * 2);
  height: var(--window-height);
  position: absolute;
  top: 0;
}

.game__window-header {
  height: clamp(50px, 3.472vw, 500px);
  padding: 0 clamp(10px, 1.389vw, 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--c-primary);
    opacity: 0.3;
    height: clamp(1px, 0.069vw, 10px);
  }
}

.game__window-circles {
  display: flex;
  align-items: center;
  gap: clamp(5px, 0.347vw, 50px);

  svg {
    width: calc(10px, 0.694vw 100px);
    height: calc(10px, 0.694vw 100px);
  }
}

.game__window-close {
  width: clamp(15px, 1.042vw, 150px);
  height: clamp(15px, 1.042vw, 150px);
  cursor: pointer;
}

.game__window-body {
  padding: 2.083vw;
}

.game__window-body-inner {
  display: flex;
}

.game__window-info {
  position: relative;
  width: clamp(218px, 19.444vw, 2180px);
  display: flex;
  flex-direction: column;
  gap: clamp(15px, 2.083vw, 150px);
  margin-right: 4.427vw;

  .section__badge {
    position: unset;
  }
}

.game__heading {
  width: 100%;
  font-size: var(--font-40);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
}

.game__paragraph {
  font-size: var(--font-18);
  color: var(--c-primary);
  font-family: var(--font-additionally);
  font-weight: 100;
}

.game__window-slider {
  width: 39.8vw;
}

.game__window-slider-img {
  width: 100%;
  margin-bottom: clamp(15px, 1.042vw, 150px);
}

.game__window-slider-arrows {
  display: flex;
  gap: clamp(10px, 0.521vw, 100px);
  margin-bottom: clamp(30px, 1.563vw, 300px);
}

.game__window-images {
  margin-left: 1.042vw;
}

.game__window-images-item {
  width: 19.635vw;
}

.activity {
  background-color: var(--c-additionally);
  padding-top: clamp(50px, 8.611vw, 500px);
  padding-bottom: clamp(80px, 10.278vw, 500px);
  background-image: url("../assets/images/activity/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.activity__inner {
  position: relative;
}

.activity__heading {
  width: 100%;
  font-size: var(--font-82);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
  margin-bottom: clamp(20px, 2.083vw, 200px);

  span {
    display: block;

    &:nth-child(1) {
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.patriotism__paragraph {
  font-size: var(--font-18);
  color: var(--c-primary);
  font-family: var(--font-additionally);
  font-weight: 100;
  /* width: clamp(217px, 27.986vw, 2170px); */
  margin-left: calc(var(--heading-margin-lg) - 0.7vw);
  --line-margin: 1.736vw;

  span {
    display: block;
    line-height: normal;

    &:nth-child(2) {
      margin-left: var(--line-margin);
    }
    &:nth-child(3) {
      margin-left: calc(var(--line-margin) * 2);
    }
    &:nth-child(4) {
      margin-left: calc(var(--line-margin) * 3);
    }
    &:nth-child(5) {
      margin-left: calc(var(--line-margin) * 4);
    }
    &:nth-child(6) {
      margin-left: calc(var(--line-margin) * 5);
      width: 16.8vw;
      text-wrap: auto;
      margin-bottom: 1.389vw;
    }
    &:nth-child(7) {
      margin-left: calc(var(--line-margin) * 5);
    }
    &:nth-child(8) {
      margin-left: calc(var(--line-margin) * 5);
    }
    &:nth-child(9) {
      margin-left: calc(var(--line-margin) * 5);
    }
    &:nth-child(10) {
      margin-left: calc(var(--line-margin) * 5);
      margin-bottom: 1.389vw;
    }
    &:nth-child(11) {
      margin-left: calc(var(--line-margin) * 5);
    }
    &:nth-child(12) {
      margin-left: calc(var(--line-margin) * 3);
    }
    &:nth-child(13) {
      width: 16.8vw;
      text-wrap: auto;
    }
  }
}

.activity__paragraph {
  font-size: var(--font-18);
  color: var(--c-primary);
  font-family: var(--font-additionally);
  font-weight: 100;
  margin-left: calc(var(--heading-margin-lg) - 0.7vw);
  --line-margin: 1.736vw;
  margin-bottom: clamp(34px, 3.5vw, 200px);

  span {
    display: block;
    line-height: normal;

    &:nth-child(2) {
      margin-left: var(--line-margin);
    }
    &:nth-child(3) {
      margin-left: calc(var(--line-margin) * 2);
    }
    &:nth-child(4) {
      margin-left: calc(var(--line-margin) * 6 - 2vw);
    }
    &:nth-child(5) {
      margin-left: calc(var(--line-margin) * 9 - 2vw);
    }
    &:nth-child(6) {
      margin-left: calc(var(--line-margin) * 9 - 2vw);
    }
    &:nth-child(7) {
      margin-left: calc(var(--line-margin) * 10 - 2vw);
    }
    &:nth-child(8) {
      margin-left: calc(var(--line-margin) * 11 - 2vw);
    }
    &:nth-child(9) {
      margin-left: calc(var(--line-margin) * 12 - 2vw);
    }
    &:nth-child(10) {
      margin-left: calc(var(--line-margin) * 13 - 2vw);
      margin-bottom: 1.389vw;
    }
  }
}

.personal-life__paragraph {
  &:first-child {
    --line-margin: 1.736vw;

    span {
      display: block;
      line-height: normal;

      &:nth-child(2) {
        margin-left: var(--line-margin);
      }
      &:nth-child(3) {
        margin-left: calc(var(--line-margin) * 2);
      }
      &:nth-child(4) {
        margin-left: calc(var(--line-margin) * 3);
      }
      &:nth-child(5) {
        margin-left: calc(var(--line-margin) * 4);
        margin-bottom: 2.083vw;
      }
      &:nth-child(6) {
        margin-left: calc(var(--line-margin) * 4);
      }
      &:nth-child(7) {
        margin-left: calc(var(--line-margin) * 4);
      }
      &:nth-child(8) {
        margin-left: calc(var(--line-margin) * 3);
      }
      &:nth-child(9) {
        margin-left: calc(var(--line-margin) * 2);
      }
      &:nth-child(10) {
        margin-left: calc(var(--line-margin) * 1);
        margin-bottom: 1.389vw;
      }
    }
  }
}

.activity__library-img {
  margin: 0 auto;
  display: block;
  margin-top: clamp(20px, 1.389vw, 200px);
  width: clamp(500px, 39.722vw, 5000px);
}

.discovery {
  background-color: var(--c-additionally);
  padding-top: max(8.333vw, 80px);
  padding-bottom: max(8.333vw, 80px);
}

.discovery__inner {
  position: relative;
}

.discovery__heading {
  width: 100%;
  font-size: var(--font-82);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
  margin-bottom: max(40px, 2.778vw);

  span {
    display: block;

    &:nth-child(1) {
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.discovery__paragraph {
  font-size: var(--font-18);
  color: var(--c-primary);
  font-family: var(--font-additionally);
  font-weight: 100;
  width: clamp(217px, 27.986vw, 2170px);
  margin-left: var(--heading-margin-lg);
  margin-bottom: max(20px, 2.083vw);
}

.discovery__subheading {
  width: 100%;
  font-size: var(--font-24);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
  margin-top: max(10px, 2.778vw);
  margin-left: var(--heading-margin-lg);
  width: 39.722vw;
}

.discovery__group {
  position: relative;
  width: 100%;
}

.discovery__invention {
  position: absolute;
  top: 0;
  left: 0;

  img {
    width: max(170px, 12.5vw);
    aspect-ratio: 1/1;
    margin-bottom: max(5px, 1.042vw);
  }

  p {
    font-size: var(--font-24);
    font-weight: 700;
    font-family: var(--font-primary);
    text-transform: uppercase;
  }
}

.discovery__invention--lg {
  left: unset;
  right: 0;

  img {
    width: max(170px, 16.667vw);
  }
}

.patriotism {
  padding-bottom: max(20px, 9.028vw);
  position: relative;

  &::after {
    background-image: url("../assets/images/patriotism/border-pixel.png");
  }
}

.patriotism__inner {
  position: relative;
}

.patriotism__heading {
  width: 100%;
  font-size: var(--font-82);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
  margin-bottom: max(40px, 2.778vw);

  span {
    display: block;

    &:nth-child(1) {
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.patriotism__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    position: relative;
    &::before {
      top: -3vw;
      right: -9vw;
      content: "";
      position: absolute;
      background-image: url("../assets/images/patriotism/particles-1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 10vw;
      height: 6.389vw;
    }
    &::after {
      bottom: -3.7vw;
      right: -9.7vw;
      content: "";
      position: absolute;
      background-image: url("../assets/images/patriotism/particles-2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 10.764vw;
      height: 4.722vw;
    }
  }
}

.patriotism__img-particles {
  width: 150px;
  position: absolute;
  left: -99%;
}

.patriotism__img {
  width: 39.722vw;
  margin: max(26px, 1.389vw) auto 0;
  display: inline-block;
}

.audio-books {
  position: relative;
  padding-bottom: max(80px, 11vw);

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 28.583vw;
    width: 28.819vw;
    height: 54.042vw;
    background-image: url(../assets/images/audiobooks/book.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::after {
    left: 0;
  }

  &::before {
    right: 0;
    scale: -1 1;
  }
}

.audio-books__heading {
  width: 100%;
  font-size: var(--font-82);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-additionally);
  margin-bottom: max(18px, 2.083vw);

  span {
    display: block;

    &:nth-child(1) {
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.audio-books__inner {
  position: relative;
}

.audio-books__paragraph {
  font-size: var(--font-18);
  color: var(--c-additionally);
  font-family: var(--font-additionally);
  font-weight: 100;
  width: max(180px, 34.986vw);
  margin-left: var(--heading-margin-lg);
  margin-bottom: max(20px, 2.778vw);
  text-align: center;
}

.audio-books {
  padding-top: max(160px, 13.889vw);
  background-color: var(--c-primary);
  overflow: hidden;
}

.audio-books__video {
  margin: 0 auto;
  width: max(264px, 39.653vw);
  aspect-ratio: 1/1;
  position: relative;

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .audio-books__circle {
    width: 100%;
    height: 100%;
  }

  .audio-books__track {
    top: 50%;
    translate: 0 -50%;
    position: absolute;
    height: max(102px, 9.306vw);
  }

  .audio-books__track--right {
    right: min(-310px, -29.722vw);
  }
  .audio-books__track--left {
    left: min(-320px, -29.722vw);
  }
}

.music-video {
  background-color: var(--c-primary);
  padding-bottom: max(160px, 16.667vw);
}

.music-video__inner {
  position: relative;
}

.music-video__images {
  position: relative;
}

.music-video__interactive {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 3;
}

.music-video__paragraph {
  line-height: 110%;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: var(--font-28);
  font-weight: 700;
  margin-bottom: max(20px, 3vw);
}

.music-video__ellipse {
  display: block;
  width: 100%;
}

.music-video__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.music-video__play-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 3;
}

.personal-life {
  padding-top: max(50px, 6.944vw);
  padding-bottom: max(80px, 8.333vw);
  position: relative;

  &::before {
    background-image: url("../assets/images/personal_life/pixels-top.png");
  }
}

.personal-life__inner {
  position: relative;
}

.personal-life__heading {
  width: 100%;
  font-size: var(--font-82);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
  margin-bottom: max(18px, 2.083vw);

  span {
    display: block;

    &:nth-child(1) {
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.personal-life__content {
  position: relative;
  width: 100%;
}

.personal-life__photocard {
  width: fit-content;

  &:first-child {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:nth-child(2) {
    margin-left: var(--heading-margin-lg);
  }
}

.personal-life__photocard-img {
  margin-bottom: max(24px, 0.694vw);
}

.personal-life__photocard-name {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-16);
  line-height: 100%;
  text-transform: uppercase;
  color: var(--c-primary);
  margin-bottom: max(10px, 0.347vw);
}

.personal-life__photocard-timeline {
  display: flex;
  align-items: center;
  gap: max(5px, 1.042vw);

  p {
    color: var(--c-accent);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: var(--font-24);
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: justify;
    color: #d8cfa9;
  }

  div {
    width: 100%;
    height: 1px;
    background-color: var(--c-primary);
  }
}

.personal-life__photocard-img {
  width: max(175px, 15.903vw);
}

.personal-life__text {
  display: flex;
  flex-direction: column;
  gap: max(15px, 2.083vw);
  position: absolute;
  top: 0;
  right: 0;
  width: max(218px, 25.972vw);

  p {
    font-family: var(--font-additionally);
    font-weight: 400;
    font-size: var(--font-18);
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #d8cfa9;
  }
}

.personal-life__photocard--large {
  .personal-life__photocard-img {
    width: max(175px, 26.042vw);
  }
}

.death {
  padding-bottom: max(30px, 8.333vw);
  position: relative;

  &::after {
    background-image: url("../assets/images/death/pixel-border.png");
  }
}

.death__inner {
  position: relative;
}

.death__heading {
  width: 100%;
  font-size: var(--font-82);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
  margin-bottom: max(18px, 2.083vw);

  span {
    display: block;

    &:nth-child(1) {
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.death__paragraph {
  line-height: 110%;
  font-family: var(--font-additionally);
  font-size: var(--font-18);
  margin-bottom: max(20px, 3vw);
  font-weight: 400;
}

.death__paragraph--big {
  display: flex;
  --line-margin: 1.736vw;
  margin-left: var(--heading-margin-lg);

  p {
    span {
      display: block;
    }
  }

  p:last-child {
    margin-left: -2.62vw !important;

    span {
      &:nth-child(2) {
        margin-left: var(--line-margin);
      }
      &:nth-child(3) {
        margin-left: calc(var(--line-margin) * 2);
      }
      &:nth-child(4) {
        margin-left: calc(var(--line-margin) * 2 - 0.3vw);
      }
      &:nth-child(5) {
        margin-left: calc(var(--line-margin));
      }
    }
  }
}

.death__paragraph--second {
  font-family: var(--font-primary);
  font-size: var(--font-24);
  font-weight: 700;
  width: 40vw;
  margin: 0 auto;
  text-transform: uppercase;
}

.death__img {
  height: max(190px, 28.611vw);
  width: 100%;
  object-fit: cover;
  margin-bottom: max(20px, 3vw);
}

.info-tape {
  background-color: var(--c-accent);
  padding: clamp(15px, 2.083vw, 150px) 0;
  overflow: hidden;
}

.info-tape__item {
  white-space: nowrap;
  color: var(--c-primary);
  font-size: var(--font-28);
  font-family: var(--font-primary);
  font-weight: 700;
  text-transform: uppercase;

  &:nth-child(odd) {
    animation: scroll-left 140s infinite;
  }

  &:nth-child(even) {
    animation: scroll-right 120s infinite;
  }

  &:not(:last-child) {
    margin-bottom: clamp(5px, 0.694vw, 50px);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.footer {
  background-color: var(--c-additionally);

  .link {
    font-size: var(--font-16);
  }
}

.footer__to-top {
  height: clamp(60px, 4.167vw, 600px);
}

.footer__body {
  display: grid;
  grid-template-columns: 27.778vw 1fr 1fr;
  grid-template-rows: 1fr;
  gap: max(20px, 1.389vw) max(10px, 0.75vw);
  padding-top: max(30px, 2.778vw);
  padding-bottom: max(30px, 2.778vw);
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: max(8px, 0.556vw);
}

.footer__info-portrait {
  width: max(70px, 6.25vw);
  aspect-ratio: 1/1;
}

.footer__info-signature {
  width: max(140px, 9.722vw);
}

.footer__navigation {
  display: flex;
  gap: 4.028vw;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: max(5px, 0.347vw);
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer__contact-heading {
  margin-bottom: 2.083vw;
  font-size: var(--font-16);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
}

.footer__contact-group {
  margin-bottom: 1.389vw;
  display: flex;
  flex-direction: column;
  gap: max(5px, 0.694vw);
}

.footer__socials {
  img {
    aspect-ratio: 1/1;
    width: max(30px, 2.083vw);
  }
}

.footer__copyrights {
  display: grid;
  gap: max(20px, 1.389vw) max(10px, 0.75vw);
  grid-template-columns: 27.778vw minmax(70px, 1.12fr) minmax(70px, 1fr) auto;
  align-items: center;
  position: relative;
  padding-top: max(10px, 0.694vw);
  padding-bottom: max(10px, 0.694vw);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--c-primary);
    opacity: 0.3;
    content: "";
    height: 1px;
  }

  p {
    font-size: var(--font-18);
    color: var(--c-primary);
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--font-primary);
    opacity: 0.3;
  }
}

.afterword {
  text-align: center;
  padding-top: 0.972vw;
  padding-bottom: 0.48vw;
  font-size: var(--font-12);
  font-weight: 700;
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--c-primary);
  display: flex;
  justify-content: center;

  p {
    width: 34vw;
    opacity: 0.3;
  }
}

.form {
  background-color: var(--c-primary);
  color: var(--c-additionally);
  padding-top: max(120px, 16.666vw);
  padding-bottom: max(60px, 6.944vw);
}

.form__inner {
  position: relative;
}

.form__heading {
  width: 100%;
  margin-bottom: max(20px, 3.472vw);

  span {
    display: block;
    font-size: var(--font-70);
    font-weight: 700;
    font-family: var(--font-primary);
    text-transform: uppercase;

    &:nth-child(1) {
      white-space: nowrap;
      margin-left: var(--heading-margin-md);
    }

    &:nth-child(2),
    &:nth-child(3) {
      margin-left: var(--heading-margin-lg);
    }
  }
}

.form__arrow {
  position: absolute;
  width: 12.222vw;
  height: 8.056vw;
  top: 13.333vw;
  pointer-events: none;
}

.form__arrow--left {
  left: 0;
}

.form__arrow--right {
  rotate: 180deg;
  right: 0;
}

.form__body {
  width: max(400px, 39.722vw);
  margin: 0 auto;
}

.form__input {
  margin-bottom: max(20px, 2.083vw);
}
