html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  overflow: hidden scroll;
  background-color: var(--c-additionally);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.no-scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 40px;
  z-index: 5;
  width: 100%;
  display: none;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
}

.hero-section {
  height: clamp(700px, 63vw, 3000px);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: calc(clamp(100px, 8.333vw, 300px) / 3 * -1);
    left: 0;
    width: 100vw;
    --height: clamp(100px, 8.333vw, 300px);
    height: var(--height);
    background: url("../assets/images/heroSection/pixelFooter.png");
    z-index: 3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero-section__inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-image: url("../assets/images/heroSection/lomonosov.png");
  background-repeat: no-repeat;
  background-size: 90vw auto;
}

.hero-section__heading {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-154);
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--c-primary);
  position: absolute;
  bottom: clamp(150px, 17vw, 700px);
  left: 0;
  line-height: 84%;
  width: 100%;

  span {
    display: block;

    &:nth-child(1) {
      margin-left: 13.5vw;
    }

    &:nth-child(3) {
      margin-right: 11.5vw;
      text-align: end;
    }
  }
}

.hero-section__navigation {
  position: absolute;
  right: clamp(0px, 5.5vw, 300px);
  bottom: clamp(240px, 27vw, 1200px);
  z-index: 2;
}

.hero-section__links {
  display: flex;
  flex-direction: column;
  gap: 0.108vw;
}

.hero-section__button {
  position: absolute;
  bottom: clamp(70px, 11vw, 300px);
  width: clamp(420px, 45.069vw, 100%);
  left: 50%;
  translate: -50% 0;
}

.about {
  background: var(--c-primary);
  position: relative;
  z-index: 2;
  padding-top: 20vmin;
}

.about__img {
  width: 100%;
  margin-top: -10vmin;
}

.about__heading {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-70);
  line-height: 95%;
  text-transform: uppercase;
  color: #0e0e0e;
  text-align: justify;
}

.intro {
  padding-top: 60px;
  background-color: var(--c-primary);
  height: 1000px;
  margin-top: -3px;
}

.intro__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.intro__group {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__heading {
  width: 100%;
  span {
    text-align: center;
    display: block;
    font-size: var(--font-80);
    font-weight: 700;
    font-family: var(--font-primary);
    text-transform: uppercase;

    &:nth-child(1) {
      translate: -10vw 0;
    }

    &:nth-child(2) {
      translate: 2vw 0;
    }
  }
}

.intro__text {
  margin-top: clamp(24px, 2.5vw, 48px);
  text-align: center;
  font-size: var(--font-18);
  font-weight: 400;
  font-family: var(--font-additionally);
  line-height: 100%;
  width: 39vw;
}
