:root {
  --c-primary: #d8cfa9;
  --c-additionally: #0e0e0e;
  --c-accent: #a43434;

  --font-primary: "offbit";
  --font-additionally: "inter";
  --font-primary-o-1: "offbit101";
  --font-primary-o-2: "offbitdot";
  --font-154: clamp(77px, 10.2vw, 770px);
  --font-82: clamp(34px, 5.4815vw, 400px);
  --font-70: clamp(30px, 4.861vw, 400px);
  --font-54: clamp(28px, 3.755vw, 108px);
  --font-40: clamp(40px, 2.778vw, 480px);
  --font-28: clamp(24px, 1.944vw, 280px);
  --font-28: clamp(24px, 1.944vw, 280px);
  --font-24: max(20px, 1.667vw);
  --font-18: clamp(16px, 1.25vw, 180px);
  --font-16: clamp(16px, 1.111vw, 160px);
  --font-14: 14px;
  --font-12: clamp(12px, 0.833vw, 120px);

  --container-padding: clamp(10px, 2.083vw, 120px);
  --heading-margin-md: 12vw;
  --heading-margin-lg: 28.7vw;

  --height-pixel-border: clamp(100px, 8.333vw, 300px);
  --centered-pixel-border: calc(clamp(100px, 8.333vw, 300px) / 3 * -1);
}
