:root {
  --c-primary: #d8cfa9;
  --c-additionally: #0e0e0e;
  --c-accent: #a43434;

  --font-primary: "offbit";
  --font-additionally: "inter";
  --font-primary-o-1: "offbit101";
  --font-primary-o-2: "offbitdot";
  --font-154: 10.6vw;
  --font-70: clamp(35px, 4.861vw, 400px);
  --font-80: clamp(40px, 5.556vw, 400px);
  --font-18: clamp(18px, 1.25vw, 180px);
  --font-16: clamp(16px, 1.111vw, 160px);
  --font-14: 14px;

  --container-padding: 40px;
}
